@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=IBM+Plex+Sans:wght@300;600&family=IBM+Plex+Serif:ital,wght@1,700&display=swap");
.about { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: black; background: linear-gradient(34deg, rgba(0, 0, 0, 0.716) 0%, rgba(0, 0, 0, 0.968) 100%); }

.about .clickOutside { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 2; }

.about .card { background: #232946; padding: 30px; border-radius: 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; max-width: 80vw; max-height: 80vh; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; z-index: 4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; gap: 30px; overflow: auto; }

.about .card h3 { line-height: 1.4em; }

.about .card label { color: #b8c1ec; }

.about .card .photo { width: 320px; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.about .card .info { width: 500px; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 20px; }

.about .card .details { width: 320px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 20px; width: 50%; }

.about .card .bio { width: 320px; width: 50%; }
