@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=IBM+Plex+Sans:wght@300;600&family=IBM+Plex+Serif:ital,wght@1,700&display=swap");
html, body { background-color: #232946; color: #fffffe; padding: 0; margin: 0; font-family: "IBM Plex Sans", sans-serif; font-size: 14px; line-height: 1.6em; font-weight: 300; }

a { color: #bbeedf; text-decoration: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 { font-family: "IBM Plex Serif", serif; font-weight: 600; font-size: 3.5em; line-height: 1.5em; }

h2 { font-family: "IBM Plex Serif", serif; font-weight: 600; font-size: 2.5em; line-height: 1em; }

h3 { font-family: "IBM Plex Sans", sans-serif; font-weight: 300; font-size: 1.3em; }

h4 { font-family: "IBM Plex Mono", monospace; font-weight: 600; font-size: 1.15em; text-transform: uppercase; }

label { font-family: "IBM Plex Mono", monospace; font-weight: 600; font-size: 0.8em; text-transform: uppercase; }
