/*** Type Sizes ***/
$font-size-xxl:         45px;
$font-size-xl:          32px;
$font-size-l:           22px;
$font-size-m:           16px;
$font-size-s:           11px;

/*** Custom Styles ***/
$box-shadow-fluent: 3px 3px 8px 4px rgba(0,0,0,0.08);
$easing: cubic-bezier(.04, .69, .38, 1);

/*** Custom Colors ***/
$cortana-color-neutralDark: #221f1f;
$cortana-color-neutralPrimary: #4a4a4a;
$cortana-color-neutralLight: #d8d8d8;
$cortana-color-neutralLighter: #e8e8e8;
$cortana-color-white: #ffffff;
$cortana-color-themePrimary: #0078d7;
$cortana-color-themeSecondary: #00b6c2;
$cortana-color-themeLight: #00bcf2;
$cortana-color-themeDark: #003966;