// Font weights.
$ms-light:     "Segoe UI Light";
$ms-regular:   "Segoe UI Regular";
$ms-semibold:  "Segoe UI Semibold";
$ms-semilight: "Segoe UI Semilight";

//== Type sizes
$cortana-font-size-xxl: 45px;
$cortana-font-size-xl: 32px;
$cortana-font-size-l: 22px;
$cortana-font-size-m: 16px;
$cortana-font-size-s: 11px;

$ms-font-family-light:     'Segoe UI Light WestEuropean', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
$ms-font-family-regular:   'Segoe UI Regular WestEuropean', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
$ms-font-family-semilight: 'Segoe UI Semilight WestEuropean', 'Segoe UI Semilight', 'Segoe WP Semilight', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
$ms-font-family-semibold:  'Segoe UI Semibold WestEuropean', 'Segoe UI Semibold', 'Segoe WP Semibold', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;