@font-face {
	font-family: 'FullMDL2';
  src:  url('./FullMDL2.eot'); /* IE9 Compat Modes */
	src:  url('./FullMDL2.eot#iefix') format('embedded-opentype'),
		  	url('./FullMDL2.woff2') format('woff2'), /* Super Modern Browsers */
				url('./FullMDL2.woff') format('woff'), /* Pretty Modern Browsers */
				url('./FullMDL2.ttf')  format('truetype'), /* Safari, Android, iOS */
				url('./FullMDL2.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

.icon {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: 'FullMDL2';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
}

.icon-Record:before { content: '\E7C8'; }
.icon-StopSolid:before { content: '\EE95'; }
.icon-CircleStopSolid:before { content: '\F2DB'; }
.icon-SingleBookmark:before { content: '\EDFF'; }
.icon-SingleBookmarkSolid:before { content: '\EE00'; }
.icon-AddBookmark:before { content: '\F5B7'; }
.icon-BookmarkList:before { content: '\ECFC'; }
.icon-Back:before { content: '\E72B'; }
.icon-Clear:before { content: '\E894'; }
.icon-DownloadDocument:before { content: '\F549'; }
.icon-Email:before { content: '\E715'; }
.icon-Send:before { content: '\E724'; }