@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=IBM+Plex+Sans:wght@300;600&family=IBM+Plex+Serif:ital,wght@1,700&display=swap");

$bgColor: #232946;
$bgColorSecondary: #4f6c63;
$text: #fffffe;
$primary: #b8c1ec;
$secondary: #bbeedf;
$borderColor: #121629;

$fontSerif: "IBM Plex Serif", serif;
$fontSansSerif: "IBM Plex Sans", sans-serif;
$fontMono: "IBM Plex Mono", monospace;
$fontWeightLight: 200;
$fontWeightRegular: 300;
$fontWeightBold: 600;

/* SCREEN WIDTH */
$mobileWidth: 1200px;
