@import "base";

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.branding {
  flex-grow: 1;
  display: inline-flex;
  align-items: baseline;
  gap: 0.5em;
  font-size: 1.25em;

  .title {
    font-weight: 600;
    color: $text;
    font-family: $fontSerif;
  }
  .subtitle {
    color: $primary;
  }
}
