@import "base";

.header {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.headerWrapper {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandingWrapper {
  display: flex;
  align-items: center;
}

.interiorPageWrapper {
  display: flex;
  align-items: center;
}

.brandingHome,
.brandingInteriorPage {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  font-size: 1.25em;
  cursor: pointer;
  transition: 500ms ease-in-out;

  .title {
    font-weight: 600;
    color: $text;
    font-family: $fontSerif;
  }
  .subtitle {
    color: $primary;
  }
}

.brandingHome:hover {
  text-shadow: 0 0 10px $secondary;
}

.brandingInteriorPage:hover {
  .subtitle,
  .title {
    color: $secondary;
  }
}

.links {
  display: inline-flex;
  gap: 12px;
}

.link {
  padding: 8px;
  cursor: pointer;

  a svg {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.25s;
  }

  &:hover {
    a svg {
      fill: $secondary;
      transform: scale(1.2);
      transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
  }
}

@media (max-width: 719px) {
  .headerWrapper {
    flex-direction: column;
    gap: 20px;
  }

  .brandingHome {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

    .title {
      font-size: 32px;
    }
  }
}
