@import "base";

.header {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  position: inherit;
  z-index: 1;
}

.headerWrapper {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandingWrapper {
  display: flex;
  align-items: center;
}

.interiorPageWrapper {
  display: flex;
  align-items: center;
}

.brandingHome,
.brandingInteriorPage {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  font-size: 1.25em;
  cursor: pointer;
  transition: 500ms ease-in-out;

  .title {
    font-weight: 600;
    color: $text;
    font-family: $fontSerif;
  }
  .subtitle {
    color: $primary;
  }
}

.brandingHome:hover {
  text-shadow: 0 0 10px $secondary;
}

.brandingInteriorPage:hover {
  .subtitle,
  .title {
    color: $secondary;
  }
}

@media (max-width: $mobileWidth) {
  .header {
    padding: 20px 0;
    width: 100%;

    .headerWrapper {
      width: 100%;
      flex-direction: column;
      gap: 20px;
    }
  }

  .links {
    display: none;
  }

  .brandingHome {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title {
      font-size: 24px;
    }
  }

  .brandingWrapper {
    width: 100%;
    padding: 0 10px;
    justify-content: center;
  }

  .interiorPageWrapper {
    gap: 12px;
    align-items: center;

    .link svg {
      width: 36px;
    }

    .title {
      font-size: 24px;
    }
  }
  .brandingInteriorPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
