@import "base";

.container {
  background-color: $bgColor;
  color: $text;
  position: relative;
  z-index: 1;

  @media (max-width: $mobileWidth) {
    height: initial;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.main {
  flex: 1;
  width: 100%;
}
